BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
